@font-face {
    font-family: "Remarcle";
    src: url("fonts/remarcle/Remarcle.ttf") format("truetype");
    font-style: normal;
}

:root {
    color-scheme: light dark;
    --bg: light-dark(#E3D082, #2d2609);
}

:root:has([value="normal"]:checked) {
    color-scheme: light;
}

:root:has([value="disco"]:checked) {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
}

main::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 200, 0.35);
    clip-path: polygon(29% 0%,
            71% 0%,
            100% 85%,
            0% 85%);
    opacity: 0;
    pointer-events: none;
}

:root:has([value="disco"]:checked) main::before {
    opacity: 1;
    animation-name: disco;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 3;
}

:root:has([value])
/* MARK: Radio base */

body>main>form {
    position: relative;
    margin-top: 11rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "div1 div2 div3";
    width: clamp(20em, 60vw, 60em);
    height: clamp(8.3em, 25vw, 25em);
    background: #445640;
    border-color: #F0EACE;
    border-style: inset;
    border-width: 0.5em;
    animation: none;
    transform-origin: bottom;

    >div:nth-of-type(1) {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "div4 div5 div6";
        grid-area: div1;
        width: clamp(5em, 15vw, 15em);
        height: clamp(7.3em, 22vw, 22em);
        background: #445640;
        border-color: #F0EACE;
        border-style: inset;
        border-width: clamp(0.3em, 0.5vw, 0.5em);
        margin-top: clamp(0.3em, 1vw, 1em);
        margin-left: clamp(0.3em, 1vw, 1em);

        >div:nth-of-type(1) {
            grid-area: div5;
            width: clamp(0.1em, 2vw, 2em);
            height: clamp(5em, 18.5vw, 18.5em);
            background: #000000;
            border-color: #F0EACE;
            border-style: inset;
            border-width: clamp(0.3em, 0.5vw, 0.5em);
            justify-self: left;
            align-self: center;
        }

        >div:nth-of-type(2) {
            grid-area: div5;
            width: clamp(0.1em, 2vw, 2em);
            height: clamp(5em, 18.5vw, 18.5em);
            background: #000000;
            border-color: #F0EACE;
            border-style: inset;
            border-width: clamp(0.3em, 0.5vw, 0.5em);
            justify-self: right;
            align-self: center;
        }


    }

    >div:nth-of-type(2) {
        grid-area: div2;
        width: clamp(1em, 4vw, 4em);
        height: clamp(1em, 6vw, 7em);
        background: #445640;
        border-color: #F0EACE;
        border-style: inset;
        border-width: clamp(0.1em, 0.3vw, 0.3em);
        justify-self: center;
        align-self: center;
    }

    >div:nth-of-type(3) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            ". text .";
        grid-area: div3;
        width: clamp(10.3em, 31vw, 31em);
        height: clamp(7.3em, 22vw, 22em);
        background: #445640;
        border-color: #F0EACE;
        border-style: inset;
        border-width: clamp(0.3em, 0.5vw, 0.5em);
        margin-top: clamp(0.3em, 1vw, 1em);
        margin-right: clamp(0.3em, 1vw, 1em);

        /* https://www.youtube.com/shorts/HUkZxON7t1I */

        >h1 {
            grid-area: text;
            align-self: end;
            font-family: "Remarcle", serif;
            border: 1rem ridge #F0EACE;
            padding: 1rem;
            font-size: 1.7rem;
            background: linear-gradient(to right, #787878,
                    #b5b5b5, #e3e3e3, #b5b5b5, #787878);
            background-size: 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animateTitle 2.5s linear infinite;
        }

    }

    >label:nth-of-type(1) {
        grid-area: div2;

        width: clamp(1.5em, 6vw, 7em);
        height: clamp(1.5em, 6vw, 7em);
        border-color: #000000;
        border-style: solid;
        border-radius: 100%;
        border-width: clamp(0.3em, 0.5vw, 0.5em);
        margin-top: clamp(0.3em, 1vw, 1em);
        justify-self: center;
        background: linear-gradient(90deg, #787878 0%,
                #b5b5b5 25%, #e3e3e3 50%, #b5b5b5 75%, #787878 100%);
        cursor: pointer;
    }

    >label:nth-of-type(2) {
        grid-area: div2;
        width: clamp(1.5em, 6vw, 7em);
        height: clamp(1.5em, 6vw, 7em);
        border-color: #000000;
        border-style: solid;
        border-radius: 100%;
        border-width: clamp(0.3em, 0.5vw, 0.5em);
        margin-bottom: clamp(0.3em, 1vw, 1em);
        justify-self: center;
        align-self: end;
        background: linear-gradient(90deg, #787878 0%,
                #b5b5b5 25%, #e3e3e3 50%, #b5b5b5 75%, #787878 100%);
        cursor: pointer;
    }


}

body>main>div {
    height: 100px;
    width: clamp(100vw);
    background-color: #301c00;
}

label {
    transform: rotate(0deg);
    transition: transform 0.4s ease;
}

label:nth-of-type(1):has(input:checked) {
    transform: rotate(120deg);
    transition: transform 0.4s ease;
}

label:nth-of-type(2):has(input:checked) {
    transform: rotate(120deg);
    transition: transform 0.4s ease;
}

body>main>form:has(> label:nth-of-type(1) > input:checked) {
    animation: stretch 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

body > main > form::after {
    content: "🎵🎵🎶🎵🎵🎶";
    position: absolute;
    bottom: 4em;
    left: 6%;

    font-size: 6em;
    transform: translateX(-50%);

    opacity: 0;
    pointer-events: none;
}

body>main>form:has(> label:nth-of-type(2) > input:checked)::after {
    animation: music 1s ease-out infinite;
}


/* MARK: Key frames/Animaties */

@keyframes stretch {
    0% {
        transform: scale(1, 1)
    }

    20% {
        transform: scale(1.2, 0.9)
    }

    60% {
        transform: scale(0.8, 1.6)
    }

    100% {
        transform: scale(1, 1)
    }
}

@keyframes disco {
    0% {
        background: rgb(255 0 0 / 0.35);
    }

    20% {
        background: rgb(255 255 0 / 0.35);
    }

    40% {
        background: rgb(0 255 0 / 0.35);
    }

    60% {
        background: rgb(0 255 255 / 0.35);
    }

    80% {
        background: rgb(0 0 255 / 0.35);
    }

    100% {
        background: rgb(255 0 255 / 0.35);
    }
}

@keyframes animateTitle {


    to {
        background-position: 200%;
    }
}

@keyframes music {
    0% {
        opacity: 0;
        transform: translateY(2em) scale(0.5);
    }

    30% {
        opacity: 1;
        transform: translateY(0em) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-2em) scale(0.8);
    }
}