body {
     display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 100vh;
    background-color: #E3D082;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "div1 div2 div3";
 width: clamp(20em, 60vw, 60em);
  height: clamp(8.3em, 25vw, 25em);
    background: #445640;
    border-color: #F0EACE;
    border-style: inset;
    border-width: 0.5em;    
}

div div:nth-of-type(1) {
    grid-area: div1;
    width: clamp(5em, 15vw, 15em); 
    height: clamp(7.3em, 22vw, 22em); 
    background: #445640;
    border-color: #F0EACE;
    border-style: inset;
    border-width: clamp(0.3em, 0.5vw, 0.5em);
    margin-top: clamp(0.3em, 1vw, 1em);
    margin-left: clamp(0.3em, 1vw, 1em);
}

div div:nth-of-type(2) {
    grid-area: div2;
    width: clamp(1em, 4vw, 4em); 
    height: clamp(3em, 8vw, 9em); 
    background: #445640;
    border-color: #F0EACE;
    border-style: inset;
    border-width: clamp(0.3em, 0.5vw, 0.5em);
    margin: 1em 0em 0em 0em;
}

div div:nth-of-type(3) {
    grid-area: div3;
    width: clamp(10.3em, 31vw, 31em); 
    height: clamp(7.3em, 22vw, 22em); 
    background: #445640;
    border-color: #F0EACE;
    border-style: inset;
    border-width: clamp(0.3em, 0.5vw, 0.5em);
    margin-top: clamp(0.3em, 1vw, 1em);
    margin-right: clamp(0.3em, 1vw, 1em);
}

div button:nth-of-type(1) {
    grid-area: div2;
    width: clamp(3em, 8vw, 9em); 
    height: clamp(3em, 8vw, 9em); 
    border-color: #F0EACE;
    border-style: inset;
    border-radius: 100%;
    border-width: clamp(0.3em, 0.5vw, 0.5em);
    margin-top: 1em;
}

div button:nth-of-type(2) {
    grid-area: div2;
    width: clamp(3em, 8vw, 9em); 
    height: clamp(3em, 8vw, 9em); 
    border-color: #F0EACE;
    border-style: inset;
    border-radius: 100%;
    border-width: clamp(0.3em, 0.5vw, 0.5em);
    margin-top: 18em;
}


